node_modules/
.DS_Store
.env
www/
android/
*.json
!manifest.json
!package.json
!capacitor.config.json
!google-services.json

# Keep the build workflow but hide the secrets
.github/workflows/*.yml

# Firebase / Service Accounts (CRITICAL)
*-f37a3d0f44e7.json
service-account*.json
firebase-key.json
